@media only screen and(max-width:768px) {
  .header__burger {
    display: block;
  }

  .head {
    padding: 20px;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transform: translateX(110%);
    transition: 0.2s;

    .header__list {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      background: black;
    }

    .header__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding:0;
      width: 100%;
    }

        .header__item:first-child {
          margin-top: 50px;
        }

    .header__item-link {
      font-size: 25px;
      line-height: 1.5;
      margin-bottom: 50px;
    }


    .header_nav_close {
      width: 100%;
      max-width: 50px;
      height: 100%;
      max-height: 50px;
      background: white;
      position: absolute;
      display: block;
      z-index: 15;
      right: 20px;
      top: 20px;
      padding: 5px;
      border-radius: 0.125rem;

      .header_nav_close_line {
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        position: absolute;
        left: 0;
      }

      .header_nav_close-line_first {
        top: 50%;
        transform: rotate(45deg);
      }

      .header_nav_close-line_second {
        top: 50%;
        transform: rotate(-45deg);
      }
    }

    .header_nav_close:active,
    .header_nav_close:focus,
    .header_nav_close:hover {
      cursor: pointer;
    }

    .header_nav_close:active,
    .header_nav_close:focus,
    .header_nav_close:hover {
      background: red;
      transition: 0.7s;
    }
  }

  .header__nav_active {
    transform: translateX(0);
  }

  .search_form_field {
    margin-bottom: 10px;
  }

  .link_in_threesection {
    margin-bottom: 10px;
  }

  .first_photocards {
    display: flex;
    flex-wrap: wrap;


    .first_card {
      flex: 1;
      margin-right: 10px;
      position: relative;
      overflow: hidden;
      min-width: 100%;
      margin-bottom: 10px;
    }

    .figcaption {
      display: block;
      max-width: 100%;
      font-weight: bold;
      font-size: 50px;
      line-height: 60px;
      color: #FFFFFF;
      position: absolute;
      bottom: 27px;
      left: 29px;
      z-index: 1;
    }

    .second_card {
      flex: 1;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .pic_first_card {
      width: 100%;
      height: 354px;
      max-height: 100%;
      object-fit: cover;
    }

    .pic_first_card:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
  }

  .second_photocards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;

    .thirt_card {
      position: relative;
      flex: 1;
      width: 100%;
      height: 100%;
      margin-right: 0px;
      margin-top: 10px;
      overflow: hidden;
    }

    .figcaption {
      display: block;
      max-width: 100%;
      font-weight: bold;
      font-size: 50px;
      line-height: 60px;
      color: #FFFFFF;
      position: absolute;
      bottom: 27px;
      left: 29px;
      z-index: 1;
    }

    .four_card {
      position: relative;
      flex: 1;
      width: 100%;
      height: 100%;
      margin-right: 10px;
      margin-top: 10px;
      overflow: hidden;
    }

    .five_card {
      position: relative;
      flex: 1;
      width: 100%;
      height: 100%;
      margin-top: 10px;
      overflow: hidden;
    }

    .pic_second_card {
      width: 100%;
      height: 283px;
      object-fit: cover;
    }

    .pic_second_card:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
  }


  .continue_sec_four {
    margin-top: 120px;

    .sec_with_visitplace {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .visitplace {
      flex: 1;
      position: relative;
      height: 100%;
      margin-right: 0;
      margin-bottom: 36px;
      width: 100%;
      min-width: 250px;
      max-width: 378px;
    }

    .visitplace:last-child {
      margin-right: 0;
    }

    .visitplace:first-child {
      margin-left: 0;
    }

    .visitplace-pic {
      position: relative;
      margin-bottom: 45px;
      width: 100%;
      height: 100%;
      max-height: 386px;

      .pic_visitplace {
        width: 100%;
        height: 100%;
        flex: 1;
        object-fit: cover;
      }

      .stats_visitplace {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 25px;
        width: 100%;
        height: 55px;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        background: rgba(21, 24, 36, 0.6);
      }

      .heart-icon {
        margin-right: 10px;
      }

      .heart-icon:hover {
        transform: scale(1.5);
        transition: 0.5s;
      }

      .span {
        font-size: 16px;
        line-height: 24px;
        margin-right: 5px;
      }

      .visit_place_pic_link {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      .visit_place_pic_link:active,
      .visit_place_pic_link:focus,
      .visit_place_pic_link:hover {
        background: rgba(21, 24, 36, 0.3);
        transition: 0.5s;
      }
    }
  }
}
@media only screen and(max-width:576px) {
  .first__section {
    height: 100%;
    background: url("../img/Firstsecbackground.jpg") no-repeat center;
    background-size: cover;
    padding-top: 263px;

    .first__section-title {
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      color: #FFFFFF;
      width: 100%;
      max-width: 620px;
      margin-bottom: 22px;
    }

    .support_title {
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      color: #FFFFFF;
      width: 100%;
      max-width: 546px;
      margin-bottom: 59px;
    }

    .search_form {
      height: 100%;
      padding-bottom: 376px;
    }

    .search_form_info {
      display: flex;
      width: 100%;
      max-width: 100%;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .search_form_field {
      background-color: transparent;
      background: url("../img/svg/Oval.svg") no-repeat left top;
      background-size: 20px;
      border: 0;
      border-bottom: 2px solid #FFFFFF;
      margin-right: 0px;
      width: 100%;
      max-width: 297px;
      padding-left: 43px;
      color: white;
      padding-bottom: 22px;
    }

    .search_form_field::placeholder {
      color: white;
    }

    .search_form_button {
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      padding: 15px 30px 14px;
      background: #1B7DFF;
      border: 0;
    }

    .search_form_button:active,
    .search_form_button:focus,
    .search_form_button:hover {
      background: rgb(40, 54, 143);
      transition: 0.5s;
    }
  }
  .second_wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1262px;
    height: 100%;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
    margin-bottom: 131px;

    .second_title {
      width: 100%;
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      color: #102746;
      padding: 30px 30px 30px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      background: white;
    }

    .second_cards {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .second_card {
      flex: 1;
      margin-right: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .second_card:last-child {
      margin-right: 0;
    }

    .pic_in_secsection {
      margin-bottom: 37px;
    }

    h4 {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 26px;
      font-weight: 700;
    }

    .text_in_secsection {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 39px;
    }

    .link_in_secsection {
      display: block;
      background: url("../img/svg/string.svg") no-repeat right;
      width: 161px;
      text-decoration: none;
      color: #006DFE;
      margin-bottom: 50px;
    }

    .link_in_secsection:active,
    .link_in_secsection:focus,
    .link_in_secsection:hover {
      width: 170px;
      transition: 0.5s;
      color: #01439c;
    }
  }

  .description {
    flex: 1;
    padding: 0px;
  }

  .footer {
    display: flex;
    background-color: #0E1D28;
    flex-direction: column;

    .footer_logo {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 370px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .footer_logo_link {
      display: block;
      width: 100%;
      max-width: 170px;
      height: 100%;
      max-height: 64px;
    }

    .footer_logo_link:active,
    .footer_logo_link:focus,
    .footer_logo_link:hover {
      opacity: 0.75;
      transition: 0.5s;
    }

    .footer_icon_box {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .footer_link {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer_link:last-child {
      margin-right: 0;
    }

    .footer_link_item {
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      margin-bottom: 5px;
    }

    .footer_link_item:active,
    .footer_link_item:focus,
    .footer_link_item:hover {
      opacity: 0.5;
      transition: 0.5s;
      font-size: 20px;
      line-height: 26px;
    }
  }
  .section_five {
    width: 100%;
  }
}
@media only screen and(max-width:320px) {}
